{
  "singleQuote": true,
  "semi": true,
  "printWidth": 120,
  "tabWidth": 2,
  "useTabs": false,
  "trailingComma": "all",
  "arrowParens": "always",
  "bracketSpacing": true,
  "endOfLine": "lf",
  "overrides": [
    {
      "files": ["apps/*/src/app/**/*.html", "libs/**/src/**/*.html"],
      "options": {
        "parser": "angular",
        "bracketSameLine": true
      }
    }
  ]
}
