<section>
  <h1>{{ 'legal.tos.title' | translate }}</h1>

  <section>
    <h2>{{ 'legal.tos.scope.heading' | translate }}</h2>
    <p>{{ 'legal.tos.scope.body' | translate }}</p>
  </section>

  <section>
    <h2>{{ 'legal.tos.services.heading' | translate }}</h2>
    <p>{{ 'legal.tos.services.body' | translate }}</p>
  </section>

  <section>
    <h2>{{ 'legal.tos.liability.heading' | translate }}</h2>
    <p>{{ 'legal.tos.liability.body' | translate }}</p>
  </section>

  <section>
    <h2>{{ 'legal.tos.governingLaw.heading' | translate }}</h2>
    <p>{{ 'legal.tos.governingLaw.body' | translate }}</p>
  </section>

  <section>
    <h2>{{ 'legal.tos.changes.heading' | translate }}</h2>
    <p>{{ 'legal.tos.changes.body' | translate }}</p>
  </section>
</section>
